libsel4/tools/sel4_idl.dtd

<!--
     Copyright 2014, NICTA

     This software may be distributed and modified according to the terms of
     the BSD 2-Clause license. Note that NO WARRANTY is provided.
     See "LICENSE_BSD2.txt" for details.

     @TAG(NICTA_BSD)
  -->

<!ELEMENT api (registers*,interface*)>

<!ELEMENT registers (register*)>

<!ELEMENT register EMPTY>
<!ATTLIST register name CDATA #REQUIRED>

<!ELEMENT interface (method*)>
<!ATTLIST interface name CDATA #REQUIRED>

<!ELEMENT method (param*)>
<!ATTLIST method name CDATA #REQUIRED>
<!ATTLIST method id CDATA #REQUIRED>

<!ELEMENT param EMPTY>
<!ATTLIST param type CDATA #REQUIRED>
<!ATTLIST param name CDATA #REQUIRED>
<!ATTLIST param dir CDATA #REQUIRED>

